/* css */

body{

	margin:0;
	background: linear-gradient(to right, #8E5FE3, #FFFFFF, #FFFFFF, #8E5FE3);

}

.topbar{
	margin: 0 auto 0;
	width: auto;
	padding:10 20;
	font-size: 40px;
	position:static;
	overflow:hidden;
	background-color:rgba(236,235,235,.7);
}

.topbar a, .topbar p{
	display:block;
	float:right;
	padding:0;
	margin:0;
}

#logo, #logoanim{
	float:left;
	font-family: monaco,Consolas,Lucida Console,monospace;
	margin:0;
	padding:0;
}

#logoanim{
	animation:blinking 1.2s infinite;
}

@keyframes blinking {
	0%{     color: #000000;    }
    49%{    color: #000000; }
	50%{ color:transparent;}
	85%{color:transparent;}
	86%{color:transparent;}
    100%{   color: #000000;    }
}

.navbar{
	width:100%;
	background-color:rgba(236,235,235,.7);
	padding-bottom:0px;
	margin:0;
	align-content: center;
	justify-content: center;
	display: flex;
	box-shadow: 0px 8px 6px black;
}
.navbar ul{
	width:50%;
	text-align:center;
	margin: 6 0;
}

.navbar ul li{
	width:50%;
	float:left;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	font-family:arial;
	font-size:20px;
}
.navbar ul li a{
	text-decoration:none;
	font-family: monaco,Consolas,Lucida Console,monospace;
	color:black;
	width:100%;
}
.homeBtn{
	transition: .3s;
}
.homeBtn:hover{
	background-color: #8E5FE3;
  color: white;
}
.projBtn{
	transition: .3s;
}
.projBtn:hover{
  background-color: #8E5FE3;
  color: white;
}
.main{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.content{
	background: rgba(228,228,228,.7);
	box-shadow: 0px 8px 10px black;
	width:80%;
	align-self: center;
	height:3000px;
}
